<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FaceIt</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet" type="text/css">
    <link href="css/camera.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/main2.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.hashchange.min.js"></script>
  <script src="js/vendor/jquery.easytabs.min.js"></script>

  <script src="js/main2.js"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
      <![endif]-->
  </head>

  <body class="bg-fixed bg-1">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">FaceIt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index2">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="#about"><i class="icon-user"></i><span> About Me</span></a>
                </li>
                <li class='tab'>
                  <a href="#interest"><i class="icon-file-text"></i><span> Interest & Hobbies</span></a>
                </li>
                <li class='tab'>
                  <a href="#posts"><i class="icon-heart"></i><span> Posts</span></a>
                </li>
                <li class='tab'>
                  <a href="#contact"><i class="icon-envelope"></i><span> Contact</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                                <img src="face/5.jpeg" alt="Apoorv Tomar">
                            </div>
                            <div class="info">
                                <h2 contenteditable="true" style="outline: 0px transparent" >
                                    Apoorv Tomar
                                </h2>
                                <h4 contenteditable="true" style="outline: 0px transparent" >
                                    CS Undergraduate
                                </h4>
                                <p contenteditable="true" style="outline: 0px transparent">
                                    Hello there! I am senior undergraduate student pursuing Bacherlors in Computer Science. 
                                </p>
                                <button> Edit </button>
                            </div>
                        </div>
                        
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        <div class="break"></div>
                        
                        <div class="contact-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-envelope"></i>
                              <div class="item-data">
                                <h3 contenteditable="true" style="outline: 0px transparent" ><a href="mailto:apoorv.tomar95@gmail.com">apoorv.tomar95@gmail.com</a></h3>
                                <p>Email Address</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="http://fb.me/apoorv375">Apoorv Tomar</a></h3>
                                <p>Facebook Profile</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-twitter"></i>
                              <div class="item-data">
                                <h3 contenteditable="true" style="outline: 0px transparent" ><a href="http://twitter.com/rokrapoorv">@rokrapoorv</a></h3>
                                <p>Twitter Handle</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section><!-- content -->
                </div>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="interest">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                Interests
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        Tech Industry      
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I like following tech companies and reading about upcoming technologies/gadgets.
                                    </p>
                                </li>
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        Politics
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I follow politics and read about current affairs
                                    </p>
                                </li>
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        Science World
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I like to know about latest discoveries in science.
                                    </p>
                                </li>
                                
                            </ul>
                            <button id='compare_image' class="btn btn-primary">Add Interests</button>
                            <h3>
                                Hobbies
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        Football
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I am avid football enthusiast. I like to play as well as watch football. I am an Arsenal fan.
                                    </p>
                                </li>
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        Reading
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I like to read novels, magazines, articles. I like learning new things and keep upto date with the world.
                                    </p>
                                </li>
                                <li>
                                    <h5 contenteditable="true" style="outline: 0px transparent" >
                                        E-Sports
                                    </h5>
                                    <p contenteditable="true" style="outline: 0px transparent" >
                                        I like to play competitive computer games when I find the time.
                                    </p>
                                </li>
                            </ul>
                            <button id='compare_image' class="btn btn-primary">Add Hobbies</button>
                        </div>
                        
                    </section>
                </div>
              <!-- End Resume Tab Data -->
              <!-- Portfolio Tab Data -->
                <div id="posts">
                    <section class="clearfix">
                        <h3 class="mt-4">Building profile page</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="profile">Apoorv Tomar</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on April 8, 2018 at 1:33 PM</p>

          <hr>

          <!-- Preview Image -->

          <hr>

          <!-- Post Content -->
          <p class="lead">Been trying to build new profile page, it will allow users to edit their profile, list their interests and hobbies.</p>

          <p>Have a good day.</p>

          <hr>

          <!-- Title -->
          <h3 class="mt-4">Incorporting Face search button</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="profile">Apoorv Tomar</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on April 8, 2018 at 10:12 AM</p>

          <hr>

          <!-- Preview Image -->

          <hr>

          <!-- Post Content -->
          <p class="lead">Integrating the Face search module in the website. It will allow you to explore other user's profile</p>


          <p>Have a good day.</p>

          <hr>

          <!-- Title -->
          <h3 class="mt-4">First Post</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="profile">Apoorv Tomar</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on April 8, 2018 at 2:33 AM</p>

          <hr>

          <!-- Preview Image -->

          <hr>

          <!-- Post Content -->
          <p class="lead">Hi there, this is the first post for this website.</p>


          <p>Have a good day.</p>

          <hr>
                        
                    </section>
                </div>
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>My Address</h4>
                              <p contenteditable="true" style="outline: 0px transparent" >Dwarka Sector 12, New Delhi-110078</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Mobile Number</h4>
                              <p contenteditable="true" style="outline: 0px transparent">999-9999-999<br/>999-1112-999</p>
                            </div>
                         </div>
                       </div>
                       <button id='compare_image' class="btn btn-primary">Edit</button>
                       <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; FaceIt 2018</p>
      </div>
      <!-- /.container -->
    </footer>
   
  </body>

</html>
